body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2b2c28;
}

.login-form {
  margin-top: 20px;
  width: 300px;
}
